.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
  }
  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }

  .nav-link-text-active {
    color:blue;
    text-decoration: none;
    pointer-events: none;
    text-transform: uppercase;
    font-weight: 700;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }